<h1>Login</h1>
    <br>
        <form action='/login' method="post">
   <br><br> 
            <label for="email">E-mail: </label> 
                <input type="text" name="email">
   <br><br> 
            <label for="password">Password: </label>
                <input type="password" name="password"></p>

            <input type="submit" value="Login">

        </form>
<br>
    Need an account? Please, <a href='/signup'>Signup</a>.