<h1>Login</h1>
<form action='/login' method="post">
    <label for="email">E-mail: </label> 
    <input type="text" name="email">
    <label for="password">Password: </label>
    <input type="text" name="password"></p>

        <input type="submit" value="Login">

</form>