<h2>Create a Meal!</h2>
<form action="/meals" method="post">
    <br><label for="name"> What is this meal called? </label>
        <input type="text" name="name">
    <br><label for="meal_time"> When will you have this meal? Ex: lunch, snack... </label>
        <input type="text" name="meal_time">

        <!--
        <input type="checkbox" name="meal_time" value="breakfast">Breakfast 
        <input type="checkbox" name="meal_time" value="lunch">Lunch
        <input type="checkbox" name="meal_time" value="dinner">Dinner
        -->
    <br><label for ="ingredients"> Ingredients: </label>
        <!--
        <input type="text" name="ingredients">
        -->
        
        <textarea rows = "rows" cols = "cols" name="ingredients"></textarea>

        <!--
    <br><label for="photo">Upload a Photo!</label>
        <input type="text" name="photo">
        -->

    <br>    <input type="submit" value="Create Your Meal">
</form>


