<h2>Create a Meal!</h2>

<form action="/meals" method="post">
    <label for="name"> What is this meal called? </label>
        <input type="text" name="name">
    <br><label for="meal_time"> Is this Breakfast, Lunch, or Dinner? </label>
        <input type="text" name="meal_time">
    <br><label for ="ingredients"> Ingredients: </label>
        <input type="text" name="ingredients">
    <br><label for="photo">Upload a Photo!</label>
        <input type="text" name="photo">

        <input type="submit" value="Create Your Meal">
</form>


