Monday: [add breakfast] [add lunch] [add dinner]
Tuesday: [add breakfast] [add lunch] [add dinner]
Wednesday: [add breakfast] [add lunch] [add dinner]
Thursday: [add breakfast] [add lunch] [add dinner]
Friday: [add breakfast] [add lunch] [add dinner] if != "" display meal and delete option

<ul class="weekdays">
  <li>Mo</li><a href="meals/<%= @meal.id %>"></a><%= @meal.name %>
  <li>Tu</li>
  <li>We</li>
  <li>Th</li>
  <li>Fr</li>
  <li>Sa</li>
  <li>Su</li>
  lalala
</ul>